@import 'sweetalert2/dist/sweetalert2.min.css';

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fuentes/roboto.ttf');
}

body {
  background-color: #09244B;
  font-family: 'Roboto';
}

button {
  cursor: pointer;
}