body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 97vh;
    background-image: url("../../../../assets/imagenes/fondoEstrellas3.png");
}

#encabezado {
    width: 70vw;
    min-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.875);
    margin: 0 auto;
    margin-top: 0.4rem;
    margin-bottom: 1rem;
    padding: 10px;
    border-radius: 10px;

}

.opcion:hover{
    background-color: rgb(159, 157, 157);
    cursor: pointer;
}

img{
    height: 200px;
    object-fit: contain;
}

.opciones-container {
    display: flex;
    grid-template-columns: 1fr 1fr; 
    gap: 1.2rem; 
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.opcion {
    width: 33vw;
    align-items: center;
    min-height: 55px;
    background-color: rgba(255, 255, 255, 0.875);
    border-radius: 10px;
    border: none;
    padding: 0.8rem;
    text-align: center; 
    margin-bottom: 0.5rem;
}

#botonAyuda
{
    background-color: transparent;
    border-style: none;
    position: relative;
    cursor: pointer;
}

#imagenAyuda {
    width: 6rem;
    height: 6rem;
}

.pregunta {
    font-size: 1.6rem; 
    text-align: center;
}