<body>
    <div id="tablero-de-juego">
        <div id="encabezado">
            <button (click)="mostrarAyuda(currentQuestion?.pregunta)">Ayuda</button>
            <p>{{ currentQuestion?.pregunta }}</p>
            <img *ngIf="currentQuestion?.imagen" [src]="currentQuestion?.imagen" alt="Sin imagen">
        </div>
        <div *ngFor="let distractor of currentQuestion?.distractores; let i = index">
            <button class="opcion" (click)="verificarRespuesta(distractor.opcion)">{{ distractor?.opcion }}</button>
        </div>

    </div>
</body>