<section class="containerSobreNosotros star-section" id="contenedor">
    <section class="luna" id="luna">
        <h1>Sobre Nosotros</h1>
        <p>¡Bienvenidos a nuestro rincón del universo! En Cosmoverso, estamos apasionados por el
            sistema solar y la exploración del cosmos.
        </p>
        <p>Nuestra misión es fomentar la curiosidad y el aprendizaje sobre el sistema solar y el
            espacio exterior. Creemos que la educación es la clave para inspirar a las futuras
            generaciones de científicos, astrónomos y exploradores espaciales. A través de nuestra
            página interactiva, esperamos contribuir al enriquecimiento de la comprensión pública sobre
            el cosmos.</p>
        <p>
            ¡Gracias por unirte a nosotros en este emocionante viaje a través del espacio y el tiempo!
        </p>
    </section>
</section>