<span id="estructura">
    <!-- git logo 
         titulo git
         email
        copy -->
        <span id="git" class="contenedor">
             <a target="_blank" href="https://github.com/gelpilar/appEducativaEspacial"><img src="../../../../assets/imagenes/git.png" alt=""></a>
            <h2>Repositorio GitHub</h2> </span>
       
<!--<span id="email" class="contenedor"> 
    <a target="_blank" href="mailto:pilscollo@gmail.com"><img src="../../../../assets/imagenes/email.png" alt=""></a>
    <h2>Contactanos!</h2>
</span>-->
<span>  
    <h3>© Copyright 2023</h3>
    <h4 style="color: rgb(177, 184, 190);">Derechos reservados creados Calderon Dolores y Scollo Pilar</h4>
</span>
        
</span>
