<section>
        <span id="quiz" class="juego">   
                <span id="imagen">
                        <img src="../../../../../assets/imagenes/quiz.png" alt="" width="100%">
                </span>
                <span id="contenido">   
                        <p>CosmoQuiz</p>
                        <a href="/Quiz"><button id="seleccion" >Jugar</button></a>

                </span>
             
        </span>

        <span id="memo" class="juego">   
                <span id="imagen">
                        <img src="../../../../../assets/imagenes/memotest.png" alt="" width="100%">
                </span>
                <span id="contenido">   
                        <p>CosmoTest</p>
                        <a href="/Juego"><button id="seleccion" >Jugar</button></a>

                </span>
             
        </span>

        <span id="nave" class="juego">   
                <span id="imagen">
                        <img src="../../../../../assets/imagenes/nave.png" alt="" width="100%">
                </span>
                <span id="contenido">   
                        <p>CosmoSpace</p>
                        <button id="seleccion">Jugar</button>

                </span>
             
        </span>
</section>