<!-- 
    Partes del chat:
    parte de arriba y cerrar
    espacio mensajes
    input chat
    cuerpo 
    fondo

<span id="cuerpo">
   <span id="recuadro">

      <span id="arriba">
         <img id="imagen" src="../../../../../assets/imagenes/senora.png" width="70%" height="90%">
         <button id="close" (click)="cerrar()">
            <img src="../../../../../assets/imagenes/close.png">
         </button>
      </span>


   <span id="recuadro">
      <span class="scrollable-span" id="cuerpoMensajes"> 
         <app-mensaje-chat [mensaje]="'Hola terricola, soy Christina Koch-chat bot, ¿En que te puedo ayudar? '" id="mensajes">
         </app-mensaje-chat>
         <app-mensaje-usuario></app-mensaje-usuario>

      </span>
   </span>
      
   

      <form >
         <input type="text" [(ngModel)]="pregunta" autocomplete="off">
         <button (click)="preguntaUsuario()" id="enviar"><img src="../../../../../assets/imagenes/send.png" alt="" ></button>
      </form>
      
   </span>
  
</span>

 -->
 <span id="cuerpo">
   <span id="recuadro">
      <span id="arriba">


         <img  id="imagen" src="../../../../../assets/imagenes/senora.png" width="70%" height="90%">
         <h3 id="nombre">Christina Koch</h3>
         <button id="close" (click)="cerrar()">
            <img src="../../../../../assets/imagenes/close.png" width="100%">
         </button> 
       </span>


          <span id="mensajes" class="scrollable-span">
            <app-mensaje-chat [mensaje]="'Hola terricola, soy Christina Koch-chat bot, ¿En que te puedo ayudar? '" [categoria]="'chat'" id="mensajes">
            </app-mensaje-chat>
            <app-mensaje-chat *ngFor="let pregunta of preguntas" [mensaje]="pregunta.pregunta" [categoria]="pregunta.categoria"></app-mensaje-chat>
          </span>  

          <p *ngIf="Espera" style="color: rgb(100, 100, 182);">Escribiendo...</p>
          <form action="">
            <input type="text" (input)="onInputChange($event)"   autocomplete="off" placeholder="Escribe un mensaje a Cristina"> 
            <button (click)="preguntaUsuario()" id="enviar" type="reset"><img src="../../../../../assets/imagenes/send.png" alt="" ></button>          </form>
         </span>



 </span>