<!-- 
    Partes del chat:
    parte de arriba y cerrar
    espacio mensajes
    input chat
    cuerpo 
    fondo
 -->

<span id="cuerpo">
   <span id="recuadro">

      <span id="arriba">
         <img id="imagen" src="../../../../../assets/imagenes/senora.png" width="70%" height="90%">
         <button id="close" (click)="cerrar()">
            <img src="../../../../../assets/imagenes/close.png">
         </button>
      </span>


      <span class="scrollable-span" #chatContainer>
         <app-mensaje-chat class="spanChat"
            [mensaje]="'Hola terricola, soy Christina Koch-chat bot, ¿En que te puedo ayudar? '"></app-mensaje-chat>

         <span class="spanUsuario"> {{pregUsuario}}</span>

         <span>
            <app-mensaje-chat class="scrollable-span" class="spanChat" [mensaje]="respuesta"></app-mensaje-chat>
         </span>

         <span>
            <app-mensaje-usuario (buscarTermino)="preguntaUsuario($event)"></app-mensaje-usuario>
         </span>
      </span>
   </span>
</span>