#imagen {
    width: 5rem;
    height: 5rem;
    border-radius: 50rem;
    border-style: none;
    background-color: #ADC3EA;
    position: relative;
    margin: 0.5rem;
}

#enviar {
    background-color: rgb(255, 255, 255);
    border-radius: 50rem;
    height: 2.8rem;
    width: 3rem;
    margin-left: 1rem;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    border-style: solid;
    border-color: rgb(49, 48, 48);
    cursor: pointer;
}

#arriba {
    border-bottom: solid rgba(126, 125, 125, 0.212);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 19%;
}

#cuerpoMensajes {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
}

input {
    width: 90%;
    height: 3rem;
    margin-bottom: 0.5rem;
    margin-top: 0.2rem;
    background-color: aliceblue;
    border-style: solid;
    position: relative;
    border-radius: 1rem;
    left: 0.5rem;
    text-align: center;
    color: rgb(51, 53, 56);
    font-family: "Roboto";
}

#recuadro {
    width: 92%;
    height: 97%;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 2rem;
    background-color: aliceblue;
}

#cuerpo {
    width: 21.5rem;
    height: 29.75rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #A6C7F5FF;
    border-radius: 2rem;
    z-index: 3;
}

#nombre {
    color: rgb(75, 73, 73);
}

#close {
    width: 4rem;
    height: 4rem;
    border-radius: 50rem;
    border-style: none;
    background-color: transparent;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 1.5rem;
    margin-top: 1rem;
    box-shadow: none;
    bottom: 0.5rem;
    left: 1rem;
}

#mensajes {
    width: 100%;
    height: 100%;
}

form {
    display: flex;
}

.scrollable-span {
    display: inline-block;
    width: 100%;
    max-height: 20rem;
    overflow-y: auto;
    padding-left: 0.5rem;
}

::-webkit-scrollbar {
    width: 1.2rem;
    background-color: #f0f0f0;
}

::-webkit-scrollbar-thumb {
    background-color: #1969D9BF;
    border-radius: 5rem;
    border-style: solid;
    border-color: #1165daa9;
}

::-webkit-scrollbar-button {
    background-color: #0303031c;
}

::-webkit-scrollbar-track-piece {
    background-color: #ffffff;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: start;
    margin: 1rem;
    padding: 2%;
}