<body>
    <span id="cuerpo">
        <span id="decoArriba" class="deco">
            <span class="circulo"></span>
            <span class="circulo"></span>
            <span class="circulo"></span>
            <span class="circulo"></span>
            <span class="circulo"></span>
            <span class="circulo"></span>
            <span class="circulo"></span>
            <span class="circulo"></span>
            <span class="circulo"></span>
            <span class="circulo"></span>
            <span class="circulo"></span>
            </span>
        <span id="recuadro">
           
            <!--decoArrib-->
        <!--     //Orbita -->
            <app-orbita></app-orbita>
           <!--  //titulo sistema solar
           
            //boton random
            //decoAbajo -->
            <h1 id="titulo">Sistema Solar</h1>
            <button id="botonAleatorio" type="menu"><img src="../../../../../assets/imagenes/alerta.gif" alt=""></button>

           
        </span>
    <span id="decoAbajo" class="deco">
        <span class="circulo"></span>
        <span class="circulo"></span>
        <span class="circulo"></span>
        <span class="circulo"></span>
        <span class="circulo"></span>
        <span class="circulo"></span>
        <span class="circulo"></span>
        <span class="circulo"></span>
        <span class="circulo"></span>
        <span class="circulo"></span>
        <span class="circulo"></span>
        </span>
        
        </span>
   
</body>