#recuadro
{
    width: 60rem;
    height: 35rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #aaacaf;
}
#decoArriba
{
    position: absolute;
    top: -15vh;
    left: 0;
}
#decoAbajo
{
    position: absolute;
    bottom: 1vh;
    display: static;
    left: 0;

}
.deco
{
    width: 98.76vw;
    height: 5rem;
    display: flex;
    background-image: url("../../../../../assets/imagenes/fondoEstrellas2.png");
}

#cuerpo
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 90vh;
    background-color: #0B2F61FF;
}

.circulo
{
    z-index: 2;
    background-color:  #09244BFF;
    width: 10rem;
    height: 10rem;
    display: block;
    border-radius: 50%;
    margin: -1.245rem;
    background-image: url("../../../../../assets/imagenes/fondoEstrellas2.png");
}


body
{
    background-color: #09244BFF;
    display: flex;
    justify-content: center;
    align-items: center;

}

#botonAleatorio
{
    background-color: transparent;
    border-style: none;
    position: relative;
    top: 3.5rem;
    left: 1rem;
    cursor: pointer;
}

#titulo
{
    position: relative;
    left: 9rem;
    color: rgb(59, 58, 58);
}

@font-face {
    font-family: 'lato'; /* Puedes asignar un nombre a la fuente */
    src: url('../../../../../assets/fuentes/lato.ttf'); 
  }
.cartel {
    position: absolute;
    top:23rem;
    left:46%;
    background: #feb806ba;
    color: #161615;
    border-color: #262625;
    border-style: solid;
    border-radius: 1rem;
    text-align: center;
   

    font-family: "lato";
   
   padding-bottom: 1rem;
   padding-left: 0.5rem;
   padding-right: 0.5rem;
    max-width:  22rem;
    max-height:  4rem;
}
