#recuadro
{
    width: 60rem;
    height: 35rem;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #aaacaf;

}
#decoArriba
{
    position: absolute;
    top: -15vh;
    left: 0;
}
#decoAbajo
{
    position: absolute;
    bottom: 5vh;
    display: static;
    left: 0;

}
.deco
{
    width: 98.76vw;
    height: 5rem;
    display: flex;
}

#cuerpo
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 90vh;
    background-color: #0B2F61FF;
}

.circulo
{

    background-color:  #09244BFF;
    width: 10rem;
    height: 10rem;
    display: block;
    border-radius: 50%;
    margin: -1.245rem;
}

body
{
    background-color: #09244BFF;
    display: flex;
    justify-content: center;
    align-items: center;

}

#botonAleatorio
{
    background-color: transparent;
    border-style: none;
    position: relative;
    top: 5rem;
    cursor: pointer;
}

#titulo
{
    position: relative;
    left: 8rem;
    top:1rem;
    color: rgb(59, 58, 58);
}

@font-face {
    font-family: 'lato'; /* Puedes asignar un nombre a la fuente */
    src: url('../../../../../assets/fuentes/lato.ttf'); 
  }
.cartel {
    position: absolute;
    top:25rem;
    left:44%;
    background: #FEB906;
    color: #161615;
    border-color: #262625;
    border-style: solid;
    border-radius: 1rem;
    text-align: center;
   

    font-family: "lato";
   
    padding: 10px; 
    max-width:  25rem;
}
