.scrollable-span {
  display: inline-block;
  width: 100%;
  max-height: 20rem;
  overflow-y: auto;
  padding-left: 0.5rem;
}

::-webkit-scrollbar {
  width: 1.2rem;
  background-color: #f0f0f0;
}

::-webkit-scrollbar-thumb {
  background-color: #1969D9BF;
  border-radius: 5rem;
  border-style: solid;
  border-color: #1165daa9;
}

::-webkit-scrollbar-button {
  background-color: #0303031c;
}

::-webkit-scrollbar-track-piece {
  background-color: #ffffff;
}