span {
    position: absolute;
    top: 0;
    left: 0;
}

#calendario {
    position: relative;
    top: 10rem;
    left: 10rem;
}

#sistema {
    position: relative;
    bottom: 4rem;
    left: 19rem;
}


#contacto {
    position: relative;
    bottom: 4rem;
    left: 50rem;
}

#proyecto {
    position: relative;
    top: 10rem;
    left: 60rem;
}