
<input (keydown.enter)="realizarBusqueda()" #nombre (input)="filtrarNombre(nombre.value)" type="text" [(ngModel)]="terminoBusqueda" placeholder="Buscar..."
  autocomplete="off">

<button (click)="realizarBusqueda()" ><img src="../../../../assets/imagenes/search.png" alt="" srcset=""
    width="100%"></button>

<span *ngIf="nombre.value != '' ">
  <ul *ngIf="nombre.value != '' ">
    <li *ngFor="let item of listaFiltrada" (click)="seleccionarElemento(item.nombre)" (click)="realizarBusqueda()">
      <span >{{item.nombre}}</span>
    </li>
    </ul>
</span>



