button
{
    width: 6rem;
    height: 6rem;
    margin-top: 8rem;
    border-radius: 50rem;
    border-style: none;
    background-color: #ADC3EA;
    cursor: pointer;
}
app-chat-cuerpo
{
    position: relative;
    bottom: 15rem;
    right: 19vw;
}

