<span id="orbita">
    
    <span id="ovalo"></span>


        <span id="mercurio" class="planeta">
            <!-- <span class="crater" style="top:10%"></span>
            <span class="crater" style="bottom: 10%;"></span>
            <span class="crater" style="top:10%"></span>
            <span class="crater" style="bottom: 10%;"></span>
            <span class="crater"></span> -->
        </span>
        <span id="venus" class="planeta">
            
        </span>
       
        <span id="tierra" class="planeta">
            <span class="continente continente1"></span>
            <span class="continente continente2"></span>
        </span>
        <span id="marte" class="planeta"></span>
        <span id="jupiter" class="planeta"></span>
        <span id="contenedor">
            <span id="saturno" class="planeta"></span>
            <span id="anillo"></span>
        </span>
       
        
        <span id="urano" class="planeta"></span>
        <span id="neptuno" class="planeta">
            <span id="linea"></span>
        </span>
    
       
</span>
<span id="sol"></span>