#titulo
{
    font-size: xx-large;
    background-color: #09244b ;
    width: 15rem;
    height: 3rem;
    display: flex;
    align-items: center;
    color: aliceblue;
    position: relative;
    top: 3rem;
    justify-content: center;
}

main{
    width: 46rem;
    margin: 70px auto 50px;
    display: flex;

    align-items: center;
    
}
#cuerpo
{
    background-image: url("../../../../assets/imagenes/fondoEstrellas3.png");
    width: 98vw;
    height: 98vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
}

.eleccion
{animation:scale-up-center 0.9s; } @keyframes scale-up-center{ 0%{transform:scale(.5)} 100%{transform:scale(1)} }

.section1{
    background-color:#3c70b423;
    padding: 1rem 1rem  1rem  1rem ;
    border-radius: 8px;
}
.eleccion
{
    border-radius: 10%;
    border-style:none ;
    background-color: #186fe286;
    transition: all 0.4s;
}
.eleccion:hover
{
    background-color: #056cf3;
    box-shadow:  0rem 0rem 1rem 0.01rem #fbfdff33;
}
h1{
    
    text-align: center;
}

button{
    height: 100px;
    width: 100px;
    font-size: 40px;
    color: white;
}

button:hover{
    cursor: pointer;
}

.section2{
    background-color: rgb(255, 255, 255, 0.2);
    width: 250px;
    height: 400px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 0 20px;
}

.estadisticas {
    border: 1px solid white;
    height: 105px;
    border-radius: 8px;
    padding: 8px 20px;
    box-sizing: border-box;
}


img{
    width: 70%;
}

#volver
{
    position: absolute;
    top: 1rem;
    left: 1rem;
  
}